/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul>li {
    margin-top: 1em;
}

ul>li>figure {}

figure>figcaption {
    position: relative;
    top: -1em;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 20px;
    text-align: center;
}

img {
    width: 100vw;
}

.state-loading {
    display: none;
}